.Pokemon{
    display: inline-block;
    background-color: rgb(252, 88, 88);
    width: 20%;
    margin: 15px 1.5%;
    padding: 10px;
    border-radius: 5px;

    .Nombre{
        letter-spacing: 2px;
        color:white;
        margin: 2px 0;
        font-size: 15px;
        font-weight: bold;
        text-transform: capitalize;
    }

    span{
        border-radius: 7px;
        color: white;
        font-size: 12px;
        padding: 5px 10px;
        text-align: center;
        text-transform: capitalize;
    }

    @media screen and (max-width: 800px) {
        width: 40%;
        margin: 20px 2.2%;
        padding: 10px;

        
    }
}



.normal{
    background-color: #A8A090;
}
.flying{
    background-color: #98A8F0;
}
.poison{
    background-color: #B058A0;
}
.ground{
    background-color: #9e6237;
}
.rock{
    background-color: #B8A058;
}
.bug{
    background-color: #A8B820;
}
.ghost{
    background-color: #6060B0;
}
.steel{
    background-color: #A8A8C0;
}
.fire{
    background-color: #F05030;
}
.water{
    background-color: #3899F8;
}
.grass{
    background-color: #78C850;
}
.electric{
    background-color: #F8D030;
}
.psychic{
    background-color: #F870A0;
}
.ice{
    background-color: #58C8E0;
}
.dragon{
    background-color: #7860E0;
}
.dark{
    background-color: #424242;
}
.fairy{
    background-color: #E79FE7;
}
.unknown{
    background-color: #B8B8B8;
}
.shadow{
    color: white;
    background-color: #000000;
}
.fighting{
    color: white;
    background-color: #A05038;
}